{{/* ---------------------------------------
     Partial per gestione versioning automatico
     Priorità: Version file -> CI vars -> Git info -> Data corrente
---------------------------------------- */}}
{{- $version := "" -}}

{{/* 1. Prova a leggere assets/version.txt (generato da CI/CD) */}}
{{- $versionFile := resources.Get "version.txt" -}}
{{- if $versionFile -}}
  {{- $fileContent := $versionFile.Content | strings.TrimSpace -}}
  {{- if and $fileContent (ge (len $fileContent) 7) -}}
    {{- $version = substr $fileContent 0 7 -}}
  {{- end -}}
{{- end -}}

{{/* 2. Prova variabili d'ambiente CI/CD */}}
{{- if not $version -}}
  {{- $githubSha := getenv "GITHUB_SHA" -}}
  {{- $commitSha := getenv "COMMIT_SHA" -}}
  {{- if and $githubSha (ge (len $githubSha) 7) -}}
    {{- $version = substr $githubSha 0 7 -}}
  {{- else if and $commitSha (ge (len $commitSha) 7) -}}
    {{- $version = substr $commitSha 0 7 -}}
  {{- end -}}
{{- end -}}

{{/* 3. Se abilitato enableGitInfo, usa le info Git */}}
{{- if not $version -}}
  {{- with .GitInfo -}}
    {{- if .Hash -}}
      {{- if ge (len .Hash) 7 -}}
        {{- $version = substr .Hash 0 7 -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* 4. Fallback: data corrente */}}
{{- if not $version -}}
  {{- $version = now.Format "2006.01.02" -}}
{{- end -}}

{{- return $version -}}